<tr>
  <th scope="row"><%= user.id %></th>
  <td><%= user.email %></td>
  <td><%= user.name %></td>
  <td><%= user.activation_digest %></td>
  <td><%= link_to "Delete", user, data: { "turbo-method": :delete,
  turbo_confirm: "You sure?" } %></td>
</tr>